body {
    background-color: aliceblue;
}

h1 {
    text-transform: uppercase;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.experience-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}