header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .right {
    justify-self: end;
    margin-right: 50px;
}

h1 {
    text-transform: uppercase;
}

.left h2 {
    font-weight: normal;

}

.left h1,
.left h2,
.right h3 {
    margin: 0;
}

.right h3 {
    line-height: 1.5em;
}

.container {
    position: relative;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
}

.container h2 {
    margin-bottom: 0.5em;
}

.experience-container, .project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 10px;
    padding-bottom: 1em;
}

.experience-left, .project-left {
    grid-column: 1 / 2;
}

.experience-right, .project-right {
    grid-column: 2 / 3;
    justify-self: end;
}

.experience-details, .project-details {
    grid-column: span 2;
}

.experience-container h4,
.experience p,
.experience-left h3,
.experience-right h3,
.experience-left h4,
.experience-right h4,
.project-container h4,
.project-left h3,
.project-right h4,
.project-details ul {
    margin: 0;
}

.resume-container {
    margin: 0 auto;
    max-width: 800px;
    background-color: #f5f5f5;
    border: 2px solid #ccc;
    padding: 20px;
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: none;
    border-bottom: none;
}

.skill-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #ccc;
    align-items: center;
}

.skill-row:first-child {
    border-top: none;
}

.skill-row:last-child {
    border-bottom: none;
}

.skill-item {
    width: 45%;
    background-color: #f5f5f5;
    padding: 10px;
}

footer {
    font-size: 80%;
    text-align: center;
    text-decoration: none;
}

footer a {
    text-decoration: none;
}